<ul class="nav nav-list">
    <li class="">
        <a href="@Url.Action("Index", "Home")">
            <i class="menu-icon fa fa-home"></i>
            <span class="menu-text"> Principal </span>
        </a>

        <b class="arrow"></b>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-desktop"></i>
            <span class="menu-text">
                Cadastros
            </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            
            <li class="">
                <a href="@Url.Action("Index", "Cliente")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Clientes
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Funcionarios")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Funcionários
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Servico")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Serviços
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("Index", "Fila")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Fila
                </a>

                <b class="arrow"></b>
            </li>

           
        </ul>
    </li>

    <li class="">
        <a href="#" class="dropdown-toggle">
            <i class="menu-icon fa fa-print"></i>
            <span class="menu-text"> Relatórios </span>

            <b class="arrow fa fa-angle-down"></b>
        </a>

        <b class="arrow"></b>

        <ul class="submenu">
            <li class="">
                <a href="@Url.Action("TotalDeServicoPorTipo", "Relatorio")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Relatorios de Tipos de Serviço
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="@Url.Action("JQGrid", "Relatorio")">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Relatorios de Atendimento
                </a>

                <b class="arrow"></b>
            </li>

            <li class="">
                <a href="/Administracao/Fila/OrdenacaoFila?TipoId1=1&TipoId2=2">
                    <i class="menu-icon fa fa-bell"></i>

                    <span class="menu-text">
                        Fila ordem

                        @*<span class="badge badge-transparent tooltip-error"contextmenu="">
                        <i class="ace-icon fa fa-list red bigger-130"></i>
                    </span>*@
                    </span>
                </a>

                <b class="arrow"></b>
            </li>


        </ul>
    </li>
    
</ul><!-- /.nav-list -->
