@model IEnumerable<projeto_FILA.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="panel panel-body">
    <div class="panel-heading">
        <div class="panel-title">Filtrar</div>
        <div class="panel-body">

            <div class="col-lg-4">
                <label for="TipoServico">Tipo de Serviço:</label>
                <select id="TipoServico">
                    <option>Barba</option>
                    <option>Corte</option>
                    <option>Sombrançelha</option>
                </select>
                <button>Filtrar</button>
            </div>

            <div class="col-lg-8">
                <label for="Periodo">Período:</label>
                Início: <input type="text" name="DataInicio" /> Fim: <input type="text" name="DataFim" /> 
                <button>Filtrar</button>
            </div>

        </div>
    </div>
</div>


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.ActionLink("Home", "Index", "home")
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeServico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeServico)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicoID })
        </td>
    </tr>
}

</table>
