@model PagedList.IPagedList<projeto_FILA.Models.Servico>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Serviços";
}

<h2>Serviços</h2>
<form method="get" action="/Administracao/Servico/Consultar">
    <p>
        <input type="search" name="NomeF" />
        <input type="submit" value="Pesquisar" /> <input type="submit" value="Mostrar Todos" />
    </p>
</form>

@*<div class="panel panel-body">
    <div class="panel-heading">
        <div class="panel-title">Filtrar</div>
        <div class="panel-body">

            <div class="col-lg-4">
                <label for="TipoServico">Tipo de Serviço:</label>
                <select id="TipoServico">
                    <option>Barba</option>
                    <option>Corte</option>
                    <option>Sombrançelha</option>
                </select>
                <button>Filtrar</button>
            </div>

            <div class="col-lg-8">
                <label for="Periodo">Período:</label>
                Início: <input type="text" name="DataInicio" /> Fim: <input type="text" name="DataFim" /> 
                <button>Filtrar</button>
            </div>

        </div>
    </div>
</div>*@


<p>
    @Html.ActionLink("Create New", "Create")
</p>

@*@Html.ActionLink("Home", "Index", "home")*@
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Serviço", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeServico)
        </td>
        <td>
            <button Type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-edit"></i></button>
            <button Type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button Type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove-circle"></i></button>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServicoID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServicoID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServicoID })
        </td>
    </tr>
}

</table>
Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdenacaoAtual })) 