@model PagedList.IPagedList<projeto_FILA.Models.Funcionario>
@using PagedList
@using PagedList.Mvc

@{
    ViewBag.Title = "Funcionario";
}

<h2>Funcioanrio</h2>

<form method="get" action="/Administracao/Funcionarios/Consultar">
    <p>
        <input type="search" name="NomeF" />
        <input type="submit" value="Pesquisar" /> <input type="submit" value="Mostrar Todos" />
    </p>
</form>

<p>
    <a class="btn icon-btn btn-success" href="/Administracao/Funcionarios/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Adicionar</a>
    @*@Html.ActionLink("Create New", "Create")*@
</p>


    @*@Html.ActionLink("Home", "Index", "home")*@

<table class="table">
    <tr>
        <th>
            @Html.ActionLink("Nome", "Index", new { ordenacao = ViewBag.NomeParam })
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeFuncionario)
        </td>
        <td>
            
            @*<button class="btn btn-info"> <i class="glyphicon glyphicon-edit"></i></button>
            <button class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>*@
            <a href="@Url.Action("Edit", new { id=item.FuncionarioID })" title="Editar" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Details", new { id=item.FuncionarioID })" title="Visualizar" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Delete", new { id=item.FuncionarioID })" title="Deletar" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>
            
        </td>
    </tr>
}

</table>
Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdenacaoAtual })) 