@model IEnumerable<projeto_FILA.Models.Cliente>

@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<p>
    <li><a href="/Administracao/Cliente/Create" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-pencil"><span>Add</span></a></li>
    @*<a class="btn icon-btn btn-success" href="/Administracao/Cliente/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Adicionar</a>*@
</p>

@*@Html.ActionLink("Home", "Index", "home")*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NomeCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CPF)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Celular)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            <button Type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-ok"></i></button>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteID })
        </td>
    </tr>
}

</table>
