@model PagedList.IPagedList<projeto_FILA.Models.Cliente>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<form method="get" action="/Administracao/Cliente/Consultar">
    <p>
        <input type="search" name="NomeF" />
        <input type="submit" value="Pesquisar" /> <input type="submit" value="Mostrar Todos" />
    </p>
</form>

<p>
    <a class="btn icon-btn btn-success" href="/Administracao/Cliente/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Adicionar</a>
    @*<a class="btn icon-btn btn-success" href="/Administracao/Cliente/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Adicionar</a>*@
</p>

@*@Html.ActionLink("Home", "Index", "home")*@
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("NomeCliente", "Index" , new { ordenacao = ViewBag.NomeParam })
        </th>
        <th>
            @Html.DisplayName("CPF")
        </th>
        <th>
            @Html.DisplayName("Celular")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            @*<button class="btn btn-info"> <i class="glyphicon glyphicon-edit"></i></button>
        <button class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></button>
        <button class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></button>*@
            <a href="@Url.Action("Edit", new { id=item.ClienteID })" title="Editar" class="btn btn-info"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="@Url.Action("Details", new { id=item.ClienteID })" title="Visualizar" class="btn btn-warning"><i class="glyphicon glyphicon-eye-open"></i></a>
            <a href="@Url.Action("Delete", new { id=item.ClienteID })" title="Deletar" class="btn btn-danger"><i class="glyphicon glyphicon-remove-circle"></i></a>

        </td>
    </tr>
}

</table>
Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdenacaoAtual })) 