@model PagedList.IPagedList<projeto_FILA.Models.Cliente>
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Clientes";
}

<h2>Clientes</h2>

<form method="get" action="/Administracao/Cliente/Consultar">
    <p>
        <input type="search" name="NomeF" />
        <input type="submit" value="Pesquisar" /> <input type="submit" value="Mostrar Todos" />
    </p>
</form>

<p>
    <li><a href="/Administracao/Cliente/Create" class="btn btn-primary btn-success"><span class="glyphicon glyphicon-pencil"><span>Add</span></a></li>
    @*<a class="btn icon-btn btn-success" href="/Administracao/Cliente/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Adicionar</a>*@
</p>

@*@Html.ActionLink("Home", "Index", "home")*@
<table class="table">
    <tr>
        <th>
            @Html.ActionLink("NomeCliente", "Index" , new { ordenacao = ViewBag.NomeParam })
        </th>
        <th>
            @Html.DisplayName("CPF")
        </th>
        <th>
            @Html.DisplayName("Celular")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CPF)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Celular)
        </td>
        <td>
            <button Type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-edit"   ></i></button>
            <button Type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button Type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove-circle"></i></button>
            @Html.ActionLink("Edit", "Edit", new { id=item.ClienteID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ClienteID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ClienteID })
        </td>
    </tr>
}

</table>
Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page, ordenacao = ViewBag.OrdenacaoAtual })) 