@model projeto_FILA.Models.Fila

@{
    ViewBag.Title = "Delete";
}

<h2>Deletar</h2>

<h3>Deseja Realmente deletar esse Registro?</h3>
<div>
    <h4>Fila</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.NomeCliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.NomeCliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Funcionario.NomeFuncionario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Funcionario.NomeFuncionario)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Servico.NomeServico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servico.NomeServico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Situacao)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
