@model PagedList.IPagedList<projeto_FILA.Models.Fila>
@using projeto_FILA.Models
@using PagedList
@using PagedList.Mvc
@{
    ViewBag.Title = "Fila";
    string corFundo = "White";

}

<h2>Fila</h2>
<div class="panel panel-body">
    <div class="panel-heading">
        <div class="panel-title">Filtrar</div>
        <div class="panel-body">

            <div class="col-lg-4">
                <label for="TipoServico">Tipo de Serviço:</label>
                <select id="TipoServico">
                    <option>Barba</option>
                    <option>Corte</option>
                    <option>Sombrançelha</option>
                </select>
                <button>Filtrar</button>
            </div>

            <div class="col-lg-8">
                <label for="Periodo">Período:</label>
                Início: <input type="text" name="DataInicio" /> Fim: <input type="text" name="DataFim" />
                <button>Filtrar</button>
            </div>

        </div>
    </div>
</div>

<p>
    <a class="btn icon-btn btn-success" href="/Administracao/fila/Create"><span class="glyphicon btn-glyphicon glyphicon-plus img-circle text-success"></span>Adicionar</a>
    
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayName("NomeCliente")
        </th>
        <th>
            @Html.DisplayName("NomeFuncionario")
        </th>
        <th>
            @Html.DisplayName("NomeServico")
        </th>
        <th>
            @Html.DisplayName("Situacao")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.NomeCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funcionario.NomeFuncionario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Servico.NomeServico)
        </td>
        
        @if (item.Situacao == Situacao.Atendido)
        {
            corFundo = "Green";
        }
        else if (item.Situacao == Situacao.EmEspera)
        {
            corFundo = "Yellow";
        }
        else
        {
            corFundo = "Orange";
        }

        <td style="background-color:@corFundo">


            @Html.DisplayFor(modelItem => item.Situacao)
        </td>
        <td>
            <button Type="button" class="btn btn-info btn-circle"><i class="glyphicon glyphicon-edit"></i></button>
            <button Type="button" class="btn btn-warning btn-circle"><i class="glyphicon glyphicon-eye-open"></i></button>
            <button Type="button" class="btn btn-danger btn-circle"><i class="glyphicon glyphicon-remove-circle"></i></button>
            @Html.ActionLink("Edit", "Edit", new { id=item.FilaID }) |
            @Html.ActionLink("Details", "Details", new { id=item.FilaID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.FilaID })
        </td>
    </tr>
}

</table>
Página @Model.PageNumber de @Model.PageCount
@Html.PagedListPager(Model, Page => Url.Action("Index", new { pagina = Page })) 